<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AudioSwitcher.AudioApi" version="3.0.0" targetFramework="net47" />
  <package id="AudioSwitcher.AudioApi.CoreAudio" version="3.0.0.1" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net47" />
  <package id="System.Net.Http" version="4.0.0" targetFramework="net47" />
  <package id="TMDbLib" version="1.0.0" targetFramework="net47" />
  <package id="Vlc.DotNet.Core" version="2.2.1" targetFramework="net47" />
  <package id="Vlc.DotNet.Core.Interops" version="2.2.1" targetFramework="net47" />
  <package id="Vlc.DotNet.Forms" version="2.2.1" targetFramework="net47" />
  <package id="WindowsAPICodePack-Core" version="1.1.1" targetFramework="net47" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net47" />
</packages>